.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -125px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 100;
  letter-spacing: 6px;
}

.slides {
  background-color: #ffa07a;
  color: #ffffff;
}

.main {
  font-size: 60px;
}

.sub {
  font-size: 25px;
}

.section {
  padding: 100px 0;
}

.aboutImage {
  max-width: 90%;
}

.col-md-7 {
  font-family: "Lexend Deca", sans-serif;
}

.title {
  font-size: 50px;
  padding-bottom: 10px;
  font-family: "Lexend Deca", sans-serif;
  color: black;
}

.portfolioTitle {
  font-size: 50px;
  padding-bottom: 10px;
  font-family: "Lexend Deca", sans-serif;
  color: white;
}

.subTitle {
  font-size: 20px;
}

.heading {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}

.portfolioImage {
  max-width: 100%;
}

.itemsContainer {
  width: 100%;
}

.items ul {
  padding: 0;
  margin: 0;
}

.items li {
  display: inline-block;
  padding: 25px;
}

.items li img {
  width: 100%;
}

.items .item {
  position: relative;
  display: block;
  overflow: hidden;
}

.items .icons {
  position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px auto 0 -47px;
  text-align: center;
  z-index: 3;
}

.items .icons i {
  color: #ffff;
  font-size: 20px;
  margin-top: 9px;
}

.items a {
  width: 40px;
  height: 40px;
  background-color: #ffa07a;
  position: relative;
  display: inline-block;
}

.items .imageOverLay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;

  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverLay {
  opacity: 1;
}

.items {
  padding: 0;
}

#navigation {
  background-color: #ffa07a;
  padding: 20px 10px;
  z-index: 100;
  width: 100%;
}

#navigation li {
  padding: 0 10px;
}

#navigation li a {
  color: #ffff;
}

.navbar-brand,
.navbar-brand:hover {
  color: #ffffff;
}

.navbar-toggler-icon {
  background: url(../img/menu-icon.png);
  background-size: 100%;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
}

.nav-link {
  font-family: "Lexend Deca", sans-serif;
}

.navbar-brand {
  font-family: "Lexend Deca", sans-serif;
  font-size: 30px;
}

.email {
  font-family: "Lexend Deca", sans-serif;
  font-size: 25px;
}

#portfolio {
  background-color: #ffa07a;
}

.copyrightSection {
  font-family: "Lexend Deca", sans-serif;
  background-color: #ffa07a;
  color: #ffff;
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0;
}

.link {
  text-decoration: none;
  font-family: "Lexend Deca", sans-serif;
  font-size: 25px;
  color: black;
}

.link:hover {
  text-decoration: none;
  font-family: "Lexend Deca", sans-serif;
  font-size: 25px;
  color: #ffa07a;
}

.contactTitle {
  font-size: 50px;
  padding-bottom: 10px;
  font-family: "Lexend Deca", sans-serif;
  color: black;
}

.logo {
  width: 1px;
}
